{% extends "base.html" %}

 
{% block title %}Flasky{% endblock %}
 {% block page_content %}
 <div class="page-header">
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По батькові</th>
        <th>Бал</th>
      </tr>
    </thead>
    <tbody>
      
        {%for student in students%}
        <tr>
        	<td>student.secondName</td>
        	<td>student.firstName</td>
        	<td>student.midName</td>
        	<td>student.rate</td>
        </tr>
        {%endfor%}
   
    </tbody>
  </table>
</div>
</div>


{% endblock %}


